@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html,

body {
  padding: 0px;
  margin: 0px;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #d1411e;
  }
}
